skills/docx/ooxml/schemas/microsoft/wpc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
  xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml"
  xmlns:pic="http://schemas.openxmlformats.org/drawingml/2006/picture"
  xmlns:wpg="http://schemas.microsoft.com/office/word/2010/wordprocessingGroup"
  xmlns:wps="http://schemas.microsoft.com/office/word/2010/wordprocessingShape"
  xmlns:wpc="http://schemas.microsoft.com/office/word/2010/wordprocessingCanvas"
  targetNamespace="http://schemas.microsoft.com/office/word/2010/wordprocessingCanvas"
  elementFormDefault="qualified">
  
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/main"
    schemaLocation="dml-main.xsd"/>
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/picture"
    schemaLocation="dml-picture.xsd"/>
  <xsd:import namespace="http://schemas.microsoft.com/office/word/2010/wordprocessingGroup"
    schemaLocation="wpg.xsd"/>
  <xsd:import namespace="http://schemas.microsoft.com/office/word/2010/wordprocessingShape"
    schemaLocation="wps.xsd"/>
  <xsd:import namespace="http://schemas.microsoft.com/office/word/2010/wordml"
    schemaLocation="wml-2010.xsd"/>
  
  <xsd:complexType name="CT_WordprocessingCanvas">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="bg" type="a:CT_BackgroundFormatting" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="whole" type="a:CT_WholeE2oFormatting" minOccurs="0" maxOccurs="1"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="wps:wsp"/>
        <xsd:element ref="pic:pic"/>
        <xsd:element ref="w14:contentPart"/>
        <xsd:element ref="wpg:wgp"/>
        <xsd:element name="graphicFrame" type="wpg:CT_GraphicFrame"/>
      </xsd:choice>
      <xsd:element name="extLst" type="a:CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="wpc" type="CT_WordprocessingCanvas"/>
  
</xsd:schema>
